@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="radio"]:checked + label span {
    background-color: #16C79A;
    border : solid 1px #16C79A;
    box-shadow: 0px 0px 0px 1.5px white inset;
}
.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked
{
  display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked
{
  display: none;
}

button:disabled{
  background-color: #CDCDCD;
}